src/main/mule/munitnew12.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d65728bd-82d3-4985-9f10-352074fc542f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="9c53b679-3784-4197-b6e5-bd658b4c2ed9" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="sales" />
	</db:config>
	<flow name="munitnew12Flow" doc:id="17dd9cad-d754-4623-b60b-9df2ccc1e1eb" >
		<http:listener doc:name="Listener" doc:id="5f51b150-2ebc-4558-acac-e21747d1eaf1" config-ref="HTTP_Listener_config" path="/munit"/>
		<set-variable value="#[attributes.queryParams.id]" doc:name="Set Variable" doc:id="806d8814-eaa4-4e27-b5a6-5f0178103f20" variableName="id"/>
		<set-variable value="#[payload.salary]" doc:name="Set Variable" doc:id="abcfe42d-0e23-4287-bf13-95280efddfad" variableName="salary"/>
		<db:select doc:name="Select" doc:id="ae85c004-0e80-4f73-96f5-f6883f0af833" config-ref="Database_Config">
			<db:sql ><![CDATA[select id, salary from users where id=:id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id:vars.id,
	salary:payload.salary
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="bd292e1d-f2c4-43f9-8b3a-c90bb832a1df" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
